.frow {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var( --gutter-compensation, -0.5rem );
  margin-left: var( --gutter-compensation, -0.5rem );
}
.fcenter-xs {
  justify-content: center;
  text-align: center;
}
.fcenter-sm {
    justify-content: center;
    text-align: center;
}
.fcenter-md {
    justify-content: center;
    text-align: center;
}
.fcenter-lg {
    justify-content: center;
    text-align: center;
}
.fmiddle-xs {
  align-items: center;
}
.fmiddle-sm {
    align-items: center;
  }
.fmiddle-md {
    align-items: center;
  }
.fmiddle-lg {
    align-items: center;
}

.fcol-xs,
.fcol-xs-1,
.fcol-xs-2,
.fcol-xs-3,
.fcol-xs-4,
.fcol-xs-5,
.fcol-xs-6,
.fcol-xs-7,
.fcol-xs-8,
.fcol-xs-9,
.fcol-xs-10,
.fcol-xs-11,
.fcol-xs-12,
.fcol-xs-offset-1,
.fcol-xs-offset-2,
.fcol-xs-offset-3,
.fcol-xs-offset-4,
.fcol-xs-offset-5,
.fcol-xs-offset-6,
.fcol-xs-offset-7,
.fcol-xs-offset-8,
.fcol-xs-offset-9,
.fcol-xs-offset-10,
.fcol-xs-offset-11,
.fcol-xs-offset-12 {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: var( --half-gutter-width, 0.5rem );
  padding-left: var( --half-gutter-width, 0.5rem );
}

.fcol-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.fcol-xs-1 {
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

.fcol-xs-2 {
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

.fcol-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.fcol-xs-4 {
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.fcol-xs-5 {
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

.fcol-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.fcol-xs-7 {
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

.fcol-xs-8 {
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

.fcol-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.fcol-xs-10 {
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

.fcol-xs-11 {
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

.fcol-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.fcol-xs-offset-1 {
  margin-left: 8.333333333%;
}

.fcol-xs-offset-2 {
  margin-left: 16.666666667%;
}

.fcol-xs-offset-3 {
  margin-left: 25%;
}

.fcol-xs-offset-4 {
  margin-left: 33.333333333%;
}

.fcol-xs-offset-5 {
  margin-left: 41.666666667%;
}

.fcol-xs-offset-6 {
  margin-left: 50%;
}

.fcol-xs-offset-7 {
  margin-left: 58.333333333%;
}

.fcol-xs-offset-8 {
  margin-left: 66.666666667%;
}

.fcol-xs-offset-9 {
  margin-left: 75%;
}

.fcol-xs-offset-10 {
  margin-left: 83.333333333%;
}

.fcol-xs-offset-11 {
  margin-left: 91.666666667%;
}
.fcol-sm,
  .fcol-sm-1,
  .fcol-sm-2,
  .fcol-sm-3,
  .fcol-sm-4,
  .fcol-sm-5,
  .fcol-sm-6,
  .fcol-sm-7,
  .fcol-sm-8,
  .fcol-sm-9,
  .fcol-sm-10,
  .fcol-sm-11,
  .fcol-sm-12,
  .fcol-sm-offset-1,
  .fcol-sm-offset-2,
  .fcol-sm-offset-3,
  .fcol-sm-offset-4,
  .fcol-sm-offset-5,
  .fcol-sm-offset-6,
  .fcol-sm-offset-7,
  .fcol-sm-offset-8,
  .fcol-sm-offset-9,
  .fcol-sm-offset-10,
  .fcol-sm-offset-11,
  .fcol-sm-offset-12 {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var( --half-gutter-width, 0.5rem );
    padding-left: var( --half-gutter-width, 0.5rem );
  }

  .fcol-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-sm-1 {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .fcol-sm-2 {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .fcol-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-sm-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .fcol-sm-5 {
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .fcol-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-sm-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .fcol-sm-8 {
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .fcol-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-sm-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .fcol-sm-11 {
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .fcol-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-sm-offset-1 {
    margin-left: 8.333333333%;
  }

  .fcol-sm-offset-2 {
    margin-left: 16.666666667%;
  }

  .fcol-sm-offset-3 {
    margin-left: 25%;
  }

  .fcol-sm-offset-4 {
    margin-left: 33.333333333%;
  }

  .fcol-sm-offset-5 {
    margin-left: 41.666666667%;
  }

  .fcol-sm-offset-6 {
    margin-left: 50%;
  }

  .fcol-sm-offset-7 {
    margin-left: 58.333333333%;
  }

  .fcol-sm-offset-8 {
    margin-left: 66.666666667%;
  }

  .fcol-sm-offset-9 {
    margin-left: 75%;
  }

  .fcol-sm-offset-10 {
    margin-left: 83.333333333%;
  }

  .fcol-sm-offset-11 {
    margin-left: 91.666666667%;
  }
  .fcol-md,
  .fcol-md-1,
  .fcol-md-2,
  .fcol-md-3,
  .fcol-md-4,
  .fcol-md-5,
  .fcol-md-6,
  .fcol-md-7,
  .fcol-md-8,
  .fcol-md-9,
  .fcol-md-10,
  .fcol-md-11,
  .fcol-md-12,
  .fcol-md-offset-1,
  .fcol-md-offset-2,
  .fcol-md-offset-3,
  .fcol-md-offset-4,
  .fcol-md-offset-5,
  .fcol-md-offset-6,
  .fcol-md-offset-7,
  .fcol-md-offset-8,
  .fcol-md-offset-9,
  .fcol-md-offset-10,
  .fcol-md-offset-11,
  .fcol-md-offset-12 {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var( --half-gutter-width, 0.5rem );
    padding-left: var( --half-gutter-width, 0.5rem );
  }

  .fcol-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-md-1 {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .fcol-md-2 {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .fcol-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-md-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .fcol-md-5 {
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .fcol-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-md-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .fcol-md-8 {
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .fcol-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-md-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .fcol-md-11 {
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .fcol-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-md-offset-1 {
    margin-left: 8.333333333%;
  }

  .fcol-md-offset-2 {
    margin-left: 16.666666667%;
  }

  .fcol-md-offset-3 {
    margin-left: 25%;
  }

  .fcol-md-offset-4 {
    margin-left: 33.333333333%;
  }

  .fcol-md-offset-5 {
    margin-left: 41.666666667%;
  }

  .fcol-md-offset-6 {
    margin-left: 50%;
  }

  .fcol-md-offset-7 {
    margin-left: 58.333333333%;
  }

  .fcol-md-offset-8 {
    margin-left: 66.666666667%;
  }

  .fcol-md-offset-9 {
    margin-left: 75%;
  }

  .fcol-md-offset-10 {
    margin-left: 83.333333333%;
  }

  .fcol-md-offset-11 {
    margin-left: 91.666666667%;
  }
  .fcol-lg,
  .fcol-lg-1,
  .fcol-lg-2,
  .fcol-lg-3,
  .fcol-lg-4,
  .fcol-lg-5,
  .fcol-lg-6,
  .fcol-lg-7,
  .fcol-lg-8,
  .fcol-lg-9,
  .fcol-lg-10,
  .fcol-lg-11,
  .fcol-lg-12,
  .fcol-lg-offset-1,
  .fcol-lg-offset-2,
  .fcol-lg-offset-3,
  .fcol-lg-offset-4,
  .fcol-lg-offset-5,
  .fcol-lg-offset-6,
  .fcol-lg-offset-7,
  .fcol-lg-offset-8,
  .fcol-lg-offset-9,
  .fcol-lg-offset-10,
  .fcol-lg-offset-11,
  .fcol-lg-offset-12 {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: var( --half-gutter-width, 0.5rem );
    padding-left: var( --half-gutter-width, 0.5rem );
  }

  .fcol-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-lg-1 {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .fcol-lg-2 {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .fcol-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-lg-4 {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .fcol-lg-5 {
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .fcol-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-lg-7 {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .fcol-lg-8 {
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .fcol-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-lg-10 {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .fcol-lg-11 {
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .fcol-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-lg-offset-1 {
    margin-left: 8.333333333%;
  }

  .fcol-lg-offset-2 {
    margin-left: 16.666666667%;
  }

  .fcol-lg-offset-3 {
    margin-left: 25%;
  }

  .fcol-lg-offset-4 {
    margin-left: 33.333333333%;
  }

  .fcol-lg-offset-5 {
    margin-left: 41.666666667%;
  }

  .fcol-lg-offset-6 {
    margin-left: 50%;
  }

  .fcol-lg-offset-7 {
    margin-left: 58.333333333%;
  }

  .fcol-lg-offset-8 {
    margin-left: 66.666666667%;
  }

  .fcol-lg-offset-9 {
    margin-left: 75%;
  }

  .fcol-lg-offset-10 {
    margin-left: 83.333333333%;
  }

  .fcol-lg-offset-11 {
    margin-left: 91.666666667%;
  }

